body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    color: #333;
}

.materia-item {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.materia-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.materia-actions {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

.btn-success {
    background-color: #5cb85c;
    color: #fff;
}

.btn-danger {
    background-color: #d9534f;
    color: #fff;
}

.btn-primary {
    background-color: #337ab7;
    color: #fff;
}

.btn-warning {
    background-color: #f0ad4e;
    color: #fff;
}

.videos-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.video-item {
    margin: 5px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    flex: 0 0 calc(31% - 10px);
}

.edit-form {
    display: flex;
    margin-top: 10px;
}

.edit-form input {
    margin-right: 5px;
    padding: 5px;
    flex-grow: 1;
}

.edit-form button {
    padding: 5px 10px;
}

.video-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* Proporción 16:9 */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}